.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pages-section {
  padding-top: 1rem; /* Adjust based on design */
  padding-bottom: 1rem; /* Add bottom spacing too */
}

@media (min-width: 640px) {
  .pages-section {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .pages-section {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
}

